@import "tailwindcss";
@tailwind utilities;

:root {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);

  --color-pureLight: #ffffff;
  --color-softGray: #f9f9f9;
  --color-inkBlack: #111111;
}

html {
  scroll-behavior: smooth;
}

body {
  background: white;
  color: #111;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #18181b;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #18181b transparent;
}