@import "tailwindcss";
@tailwind utilities;

:root {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);

  --color-pureLight: #ffffff;
  --color-softGray: #f9f9f9;
  --color-inkBlack: #111111;
}

html {
  scroll-behavior: smooth;
}

body {
  background: white;
  color: #111;
}